body {
    font-family: sans-serif;
    background-color: #F8F6E3;
}

#current {
    display: flex;
    justify-content: space-evenly;
}

.gauge {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gauge img {
    width: 15vw;
    height: 15vw;
}

#current p {
    text-align: center;
    font-size: 4em;
    padding-right: 1vw;
}

/* dropdown menu */
#filter {
    text-align: center;
    margin: 20px 0;
}

.filter-select {
    font-size: 1.2em;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


/* 
.chart-draw-area {
    transform: scale(1.01) translateX(4.5%) translateY(3%);
} */

.chart-legend,
/* .line-vertical, */
/* .y.axis */
.title,
.graph-svg-tip.comparison
/* .x.axis  */
{
    width: 0px;
    height: 0px;
    visibility: hidden;
}

.x.axis > g:not(:first-child,:last-child,:nth-child(12),:nth-child(24),:nth-child(36),:nth-child(48),:nth-child(60),:nth-child(72),:nth-child(84),:nth-child(96),:nth-child(108),:nth-child(120),:nth-child(132)) {
    width: 0px;
    height: 0px;
    visibility: hidden;
}

div.chart-container g text {
    font-size: 1.5em;
}

div#last-updated p, span {
    font-size: 1.3em;
}

.section-title {
    font-size: 3em;
    text-align: center;
}